<div class="header">
      <div class="container">
     <a class="pull-left" href="/"><img src="../../assets/frontend/layout/img/logos/logo.png" alt="蔓藤商城"></a>

        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

        <!-- BEGIN CART -->
        <div class="top-cart-block">
          <div class="top-cart-info">
            <a href="javascript:void(0);" class="top-cart-info-count">0 商品</a>
            <a href="javascript:void(0);" class="top-cart-info-value">0.00</a>
          </div>
          <i class="fa fa-shopping-cart"></i>
                        
          <div class="top-cart-content-wrapper">
            <div class="top-cart-content">
              <ul class="scroller" style="height: 250px;">
                <li>购物车空空如也，还不赶快去补货</li>
              </ul>
              <div class="text-right">
                <a href="/user/cart/list" class="btn btn-primary"><i  id="carttip"  class="fa fa-plane">赶紧购物</i></a>
              </div>
            </div>
          </div>            
        </div>
        <!--END CART -->

        <!-- BEGIN NAVIGATION -->
        <%-include ./header-navigation%>
        <!-- END NAVIGATION -->
      </div>
    </div>