<div class="header-navigation">
          <ul>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                酒水饮料
              </a>
                
              <!-- BEGIN DROPDOWN MENU -->
              <ul class="dropdown-menu">
                <li>
                  <div class="header-navigation-content">
                    <div class="row">
                      <div class="col-md-4 header-navigation-col">
                        <h4>白酒</h4>
                        <ul>
                          <li><a href="/search?brand=茅台">茅台</a></li>
                          <li><a href="/search?brand=五粮液">五粮液</a></li>
                          <li><a href="/search?brand=洋河">洋河</a></li>
                          <li><a href="/search?brand=泸州老窖">泸州老窖</a></li>
                          <li><a href="/search?brand=牛栏山">牛栏山</a></li>
                          <li><a href="/search?brand=汾酒">汾酒</a></li>
                          <li><a href="/search?brand=郎酒">郎酒</a></li>
                          <li><a href="/search?brand=剑兰春">剑兰春</a></li>
                        </ul>
                      </div>
                      <div class="col-md-4 header-navigation-col">
                        <h4>葡萄酒</h4>
                        <ul>
                          <li><a href="/search?brand=拉菲">拉菲(LAFITE)</a></li>
                          <li><a href="/search?brand=长城">长城(GREAT WALL)</a></li>
                          <li><a href="/search?brand=张裕">张裕(CHAGNYU)</a></li>
                          <li><a href="/search?brand=星得斯">星得斯</a></li>
                          <li><a href="/search?brand=奔富">奔富</a></li>
                          <li><a href="/search?brand=莫高">莫高(MOGAO)</a></li>
                          <li><a href="/search?brand=王朝">王朝(DYNASTY)</a></li>
                          <li><a href="/search?brand=杰卡斯">杰卡斯(JACOB'S)</a></li>
                        </ul>
                      </div>
                      <div class="col-md-4 header-navigation-col">
                        <h4>啤酒</h4>
                        <ul>
                          <li><a href="/search?brand=雪花啤酒">雪花啤酒</a></li>
                          <li><a href="/search?brand=哈尔滨啤酒">哈尔滨啤酒</a></li>
                          <li><a href="/search?brand=百威啤酒">百威啤酒</a></li>
                        </ul>

                        <h4>洋酒</h4>
                        <ul>
                          <li><a href="/search?brand=白兰地">白兰地</a></li>
                          <li><a href="/search?brand=轩尼诗">轩尼诗(Hennessy)</a></li>
                          <li><a href="/search?brand=威士忌">威士忌</a></li>
                        </ul>
                      </div>
                      <div class="col-md-12 nav-brands">
                        <ul>
                           <li><a href="/search?brand=茅台"><img title="茅台" alt="茅台" src="http://7xkj70.com1.z0.glb.clouddn.com/brand/1.jpg"></a></li>
                            
                              <li><a href="/search?brand=五粮液"><img title="五粮液" alt="五粮液" src="http://7xkj70.com1.z0.glb.clouddn.com/brand/2.jpg"></a></li>
                            
                              <li><a href="/search?brand=张裕"><img title="张裕" alt="张裕" src="http://7xkj70.com1.z0.glb.clouddn.com/brand/3.jpg"></a></li>
                            
                              <li><a href="/search?brand=长城干红"><img title="长城干红" alt="长城干红" src="http://7xkj70.com1.z0.glb.clouddn.com/brand/4.jpg"></a></li>
                            
                              <li><a href="/search?brand=百威"><img title="百威" alt="百威" src="http://7xkj70.com1.z0.glb.clouddn.com/brand/5.jpg"></a></li>
                            
                              <li><a href="/search?brand=青岛"><img title="青岛" alt="青岛" src="http://7xkj70.com1.z0.glb.clouddn.com/brand/6.jpg"></a></li>
                            
                              <li><a href="/search?brand=哈啤"><img title="哈啤" alt="哈啤" src="http://7xkj70.com1.z0.glb.clouddn.com/brand/7.jpg"></a></li>
                            
                              <li><a href="/search?brand=白兰地"><img title="白兰地" alt="白兰地" src="http://7xkj70.com1.z0.glb.clouddn.com/brand/8.jpg"></a></li>
                        
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- END DROPDOWN MENU -->
            </li>
            <li class="dropdown dropdown-megamenu">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                方便食品
                
              </a>
              <ul class="dropdown-menu">
                <li>
                  <div class="header-navigation-content">
                    <div class="row">
                      <div class="col-md-4 header-navigation-col">
                        <h4>方便面</h4>
                        <ul>
                          <li><a href="shop-product-list.html">五谷道场</a></li>
                          <li><a href="shop-product-list.html">日清</a></li>
                          <li><a href="shop-product-list.html">统一</a></li>
                          <li><a href="shop-product-list.html">康师傅</a></li>
                          <li><a href="shop-product-list.html">农心</a></li>
                          <li><a href="shop-product-list.html">白象</a></li>
                          <li><a href="shop-product-list.html">老谭</a></li>
                          <li><a href="shop-product-list.html">湾仔码头</a></li>
                        </ul>
                      </div>
                      <div class="col-md-4 header-navigation-col">
                        <h4>火腿肠</h4>
                        <ul>
                          <li><a href="shop-product-list.html">双汇</a></li>
                          <li><a href="shop-product-list.html">日清</a></li>
                          <li><a href="shop-product-list.html">华丰</a></li>
                          <li><a href="shop-product-list.html">金锣</a></li>
                          <li><a href="shop-product-list.html">养养</a></li>
                          <li><a href="shop-product-list.html">Fleeces</a></li>
                          <li><a href="shop-product-list.html">Gilets</a></li>
                          <li><a href="shop-product-list.html">Golf Tops</a></li>
                        </ul>
                      </div>
                      <div class="col-md-4 header-navigation-col">
                        <h4>方便粉丝</h4>
                        <ul>
                          <li><a href="shop-product-list.html">Belts</a></li>
                          <li><a href="shop-product-list.html">Caps</a></li>
                          <li><a href="shop-product-list.html">Gloves, Hats and Scarves</a></li>
                        </ul>

                        <h4>方便河粉</h4>
                        <ul>
                          <li><a href="shop-product-list.html">Jackets</a></li>
                          <li><a href="shop-product-list.html">Bottoms</a></li>
                        </ul>
                      </div>
                      <div class="col-md-12 nav-brands">
                        <ul>
                          <li><a href="shop-product-list.html"><img title="esprit" alt="esprit" src="../../assets/frontend/pages/img/brands/esprit.jpg"></a></li>
                          <li><a href="shop-product-list.html"><img title="gap" alt="gap" src="../../assets/frontend/pages/img/brands/gap.jpg"></a></li>
                          <li><a href="shop-product-list.html"><img title="next" alt="next" src="../../assets/frontend/pages/img/brands/next.jpg"></a></li>
                          <li><a href="shop-product-list.html"><img title="puma" alt="puma" src="../../assets/frontend/pages/img/brands/puma.jpg"></a></li>
                          <li><a href="shop-product-list.html"><img title="zara" alt="zara" src="../../assets/frontend/pages/img/brands/zara.jpg"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown dropdown-megamenu">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                常温奶乳制品
              </a>
              <ul class="dropdown-menu">
                <li>
                  <div class="header-navigation-content">
                    <div class="row">
                      <div class="col-md-4 header-navigation-col">
                        <h4>Footwear</h4>
                        <ul>
                          <li><a href="shop-product-list.html">Astro Trainers</a></li>
                          <li><a href="shop-product-list.html">Basketball Shoes</a></li>
                          <li><a href="shop-product-list.html">Boots</a></li>
                          <li><a href="shop-product-list.html">Canvas Shoes</a></li>
                          <li><a href="shop-product-list.html">Football Boots</a></li>
                          <li><a href="shop-product-list.html">Golf Shoes</a></li>
                          <li><a href="shop-product-list.html">Hi Tops</a></li>
                          <li><a href="shop-product-list.html">Indoor and Court Trainers</a></li>
                        </ul>
                      </div>
                      <div class="col-md-4 header-navigation-col">
                        <h4>Clothing</h4>
                        <ul>
                          <li><a href="shop-product-list.html">Base Layer</a></li>
                          <li><a href="shop-product-list.html">Character</a></li>
                          <li><a href="shop-product-list.html">Chinos</a></li>
                          <li><a href="shop-product-list.html">Combats</a></li>
                          <li><a href="shop-product-list.html">Cricket Clothing</a></li>
                          <li><a href="shop-product-list.html">Fleeces</a></li>
                          <li><a href="shop-product-list.html">Gilets</a></li>
                          <li><a href="shop-product-list.html">Golf Tops</a></li>
                        </ul>
                      </div>
                      <div class="col-md-4 header-navigation-col">
                        <h4>Accessories</h4>
                        <ul>
                          <li><a href="shop-product-list.html">Belts</a></li>
                          <li><a href="shop-product-list.html">Caps</a></li>
                          <li><a href="shop-product-list.html">Gloves, Hats and Scarves</a></li>
                        </ul>

                        <h4>Clearance</h4>
                        <ul>
                          <li><a href="shop-product-list.html">Jackets</a></li>
                          <li><a href="shop-product-list.html">Bottoms</a></li>
                        </ul>
                      </div>
                      <div class="col-md-12 nav-brands">
                        <ul>
                          <li><a href="shop-product-list.html"><img title="esprit" alt="esprit" src="../../assets/frontend/pages/img/brands/esprit.jpg"></a></li>
                          <li><a href="shop-product-list.html"><img title="gap" alt="gap" src="../../assets/frontend/pages/img/brands/gap.jpg"></a></li>
                          <li><a href="shop-product-list.html"><img title="next" alt="next" src="../../assets/frontend/pages/img/brands/next.jpg"></a></li>
                          <li><a href="shop-product-list.html"><img title="puma" alt="puma" src="../../assets/frontend/pages/img/brands/puma.jpg"></a></li>
                          <li><a href="shop-product-list.html"><img title="zara" alt="zara" src="../../assets/frontend/pages/img/brands/zara.jpg"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li><a href="shop-item.html">个人护理</a></li>
            <li class="dropdown dropdown100 nav-catalogue">
              <a class="dropdown-toggle" data-toggle="dropdown"  data-target="#" href="javascript:;">
                清洁用品
              </a>
              <ul class="dropdown-menu">
                <li>
                  <div class="header-navigation-content">
                    <div class="row" id="newp">
                      
                      
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown active">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                调味干杂
                
              </a>
                
              <ul class="dropdown-menu">
                <li><a href="shop-index.html">Home Default</a></li>
                <li class="active"><a href="shop-index-header-fix.html">Home Header Fixed</a></li>
                <li><a href="shop-index-light-footer.html">Home Light Footer</a></li>
                <li><a href="shop-product-list.html">Product List</a></li>
                <li><a href="shop-search-result.html">Search Result</a></li>
                <li><a href="shop-item.html">Product Page</a></li>
                <li><a href="shop-shopping-cart-null.html">Shopping Cart (Null Cart)</a></li>
                <li><a href="shop-shopping-cart.html">Shopping Cart</a></li>
                <li><a href="shop-checkout.html">Checkout</a></li>
                <li><a href="shop-about.html">About</a></li>
                <li><a href="shop-contacts.html">Contacts</a></li>
                <li><a href="shop-account.html">My account</a></li>
                <li><a href="shop-wishlist.html">My Wish List</a></li>
                <li><a href="shop-goods-compare.html">Product Comparison</a></li>
                <li><a href="shop-standart-forms.html">Standart Forms</a></li>
                <li><a href="shop-faq.html">FAQ</a></li>
                <li><a href="shop-privacy-policy.html">Privacy Policy</a></li>
                <li><a href="shop-terms-conditions-page.html">Terms &amp; Conditions</a></li>
              </ul>
            </li>
            <li><a href="onepage-index.html" target="_blank">粮油米面</a></li>

            <!-- BEGIN TOP SEARCH -->
            <li class="menu-search">
              <span class="sep"></span>
              <i class="fa fa-search search-btn"></i>
              <div class="search-box">
                <form action="/search" method="post">
                  <div class="input-group">
                    <input type="text" name="words" placeholder="智能搜索" class="form-control">
                     <input type="text" class="hidden" name="_csrf" value="<%=_csrf%>" id="csrf" />

                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">搜索</button>
                    </span>
                  </div>
                </form>
              </div> 
            </li>
            <!-- END TOP SEARCH -->
          </ul>
        </div>


