 <div class="steps-block steps-block-red">
      <div class="container">
        <div class="row">
          <div class="col-md-4 steps-block-col">
            <i class="fa fa-truck"></i>
            <div>
              <h2>全场免运费</h2>
              <em>我们承诺尽快发货</em>
            </div>
            <span>&nbsp;</span>
          </div>
          <div class="col-md-4 steps-block-col">
            <i class="fa fa-gift"></i>
            <div>
              <h2>每日抽奖</h2>
              <em>每天都会为3名顾客精心准备的礼品</em>
            </div>
            <span>&nbsp;</span>
          </div>
          <div class="col-md-4 steps-block-col">
            <i class="fa fa-phone"></i>
            <div>
              <h2>400-018-9096</h2>
              <em>工作日 客服热线</em>
            </div>
          </div>
        </div>
      </div>
    </div>